<p id="notice"><%= notice %></p>
<div class="column is-half">
<% if user_signed_in? %>
	

<% current_user.friends.each do |friend| %>
    <% friend.chirps.each do |chirp| %>
		<article class="media box">
			<figure class="media-left">
    <h3><%= link_to chirp.user.name, user_path(chirp.user) %>
		<br>
    <p> <%= chirp.chirp_text %>
		<br>
		<% if chirp.created_at == chirp.updated_at %>
		Posted: <%= chirp.created_at.strftime("%d/%m/%Y, %I:%M %p") %>
		<% else %>
		Last Edited: <%= chirp.created_at.strftime("%d/%m/%Y, %I:%M %p") %>
		<% end %>
		</p>
		<%= link_to like_chirp_path(chirp), method: :put do %>
			<div class="block">
				<span class="button is-info is-rounded">
					Like Chrip <%= chirp.get_upvotes.size %>		
					<button class=""></button>
				</span>
			</div>
		<br>
				
		</article>
			</figure>
			<% end %>
		<% end%>
    <% end %>
<% end %>
</div>
</div>
