<h1> <b> Every Chirp: </b> </h1>
<p id="notice"><%= notice %></p>
<div class="column is-half">
<% if user_signed_in? %>

    <% @chirps.each do |chirp| %>

		<article class="media box">

		<figure class="image is-64x64">
	 	 	<%= gravatar_image_tag(chirp.user.email, size: 64) %>
	 	</figure>
		<br>
		<figure class="media-left">
	    		<h3><%= link_to chirp.user.name, user_path(chirp.user) %>
				<br>

	   			<p> <%= chirp.chirp_text %>
				<br>
				<% if chirp.created_at == chirp.updated_at %>
					Posted: <%= chirp.created_at.strftime("%d/%m/%Y, %I:%M %p") %>
				<% else %>
					Last Edited: <%= chirp.created_at.strftime("%d/%m/%Y, %I:%M %p") %>
				<% end %>
				</p>

						<%= link_to like_chirp_path(chirp), method: :put do %>
							<div class="block">
								<span class="button is-info is-rounded">
									Like Chrip <%= chirp.get_upvotes.size %>		
									<button class=""></button>
								</span>
							</div>
						<% end %>

		</article>
		</figure>
	<% end%>

<% end %>

</div>
</div>
