<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<h1><strong><%= current_user.email %>'s  Chirps!</strong></h1>

					<div>
						<p class="heading">Total Chirps: <%= current_user.chirps.count %></p>
						<p class="title is-6"></p>
					</div>

  <thead>

<%= link_to 'New Chirp', new_chirp_path %>
            
              <p class="control">
                <%= link_to "Edit profile", edit_user_registration_path%>
              </p>
              <p>
                <%= link_to "Logout", destroy_user_session_path, method: :delete%>
              </p>
            <% else %>
            <p class="control">
              <%= link_to 'Sign In', new_user_session_path%>
            </p>
						<p class="control">
              <%= link_to 'Sign Up', new_user_registration_path%>
            </p>
            <% end %>

<br>

<% if user_signed_in? %>
    <tr>
      <h2><strong>Chirps</strong></h2>
      <th colspan="3"></th>
    </tr>
  </thead>
</br>

<table>
  <tbody>
    <% @chirps.each do |chirp| %>
      <p>
        <%= chirp.chirp_text %> <br>
        <% if chirp.created_at == chirp.updated_at %>
        Created: <%= chirp.created_at %> <br>
        <% else %>
        Last Edited: <%= chirp.updated_at %> <br>
        <% end %>
        <%= link_to 'Show', chirp %> 
        <%= link_to 'Edit', edit_chirp_path(chirp) %> 
        <%= link_to 'Delete', chirp, method: :delete, data: { confirm: 'Are you sure?' } %> <br>
      </p> <br>
    <% end %>
  </tbody>
</table>

<% end %>
=======



<% @chirps.each do |chirp| %>
  <div class="box">
  	<article class="media">
  		<div class="media-left">
  			<figure class="image is-64x64">
  				<%= gravatar_image_tag(chirp.user.email, size: 64) %>
  			</figure>
  		</div>
  		<div class="media-content">
  			<div class="content">
  				<strong><%= chirp.user.email %></strong><br />
  				<small><%= chirp.user.email %></small><br/>
  				<p><%= chirp.chirp_text %></p>
  			</div>
        <% if user_signed_in? && current_user.id == chirp.user_id %>
  			<nav class="level">
  				<div class="level-left is-mobile">
  					<%= link_to chirp, class: "level-item" do %>
  					  <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
  					<% end %>
  					<%= link_to edit_chirp_path(chirp), class: "level-item" do %>
  					  <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
  					<% end %>
  					<%= link_to root_path, method: :delete, data: { confirm: "Are you sure you want to delete this tweeet?" } do %>
  							<span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
  					<% end %>
  				</div>
  			</nav>
        <% end %>
  		</div>
  	</article>
  </div>
<% end %>
</div>
>>>>>>> master
