  
<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Profile</p>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong><%= current_user.username %></strong><br />
							<small><%= current_user.name %></small><br />
							
						</p>
					</div>
				</div>
			</article>
		</div>
		<div class="panel-block">
			<div class="level is-mobile">
				<div class="level-item has-centered-text">
					<div>
						<p class="heading"><%= link_to 'Chirps', chirp_path(1) %></p>
						<p class="title is-6"><%= current_user.chirps.count %></p>
					</div>
				</div>
				<div class="level-item has-centered-text">
					<div>
						<p class="heading"><%= link_to 'Following', friendships_path %></p>
						<p class="title is-6"><%= current_user.friends.count %></p>
					</div>
				</div>
					<div class="level-item has-centered-text">
					<div>
						<p class="heading"><%= link_to 'Followers', friendship_path(1) %></p>
						<p class="title is-6"><%= current_user.followers.count %></p>
					</div>
				</div>
					<div class="level-item has-centered-text">
					<div>
						<p class="heading"><%= link_to 'Pics', pics_path %></p>
						<p class="title is-6"><%= current_user.pics.count %></p>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>


	

