<h2>Upload Pic</h2>

<%= simple_form_for(@image, :url => images_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :title, 
                required: true, 
                autofocus: true, 
                input_html: { class:"form-control" }%>
    <%= f.input :description, 
                required: true, 
                input_html: { class:"form-control" } %>

    <%= f.button :submit, "Submit" %>
<% end %>
